.coursesNav {
    background-color: #C0C0C0;
}

.update-button {
    border-top: 1px solid #97f7df;
    background: -webkit-linear-gradient(top, #aae3c0, #65d47a);
    padding: 6px 13px;
    -webkit-border-radius: 40px;
    font-size: 13px;
}

.update-button:hover {
    border-top-color: #688c68;
    background: #688c68;
    color: #cccccc;
}

.update-button:active {
    border-top-color: #5c1b26;
    background: #5c1b26;
}

.delete-button {
    border-top: 1px solid #f59be4;
    background: -webkit-linear-gradient(top, #e3aac2, #d4659b);
    padding: 6px 13px;
    -webkit-border-radius: 40px;
    font-size: 13px;
}

.delete-button:hover {
    border-top-color: #cc3f8a;
    background: #cc3f8a;
    color: #cccccc;
}

.delete-button:active {
    border-top-color: #5c1b26;
    background: #5c1b26;
}

#courseTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#courseTable td, #courseTable tr {
    font-size: 1em;
    border: 1px solid #f6f6f6;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

#courseTableTheFirstLine {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #f6f6f6;
    color: #000000;
    height: 50px;
}

#nameInput{
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

#updateCourseForm{
    margin-left: 38%;
    margin-right: 30%;
    margin-top:50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.submitInput {
    border-top: 1px solid #d47c1e;
    background: -webkit-linear-gradient(top, #f0c273, #e8b26f);
    padding: 6px 13px;
    -webkit-border-radius: 40px;
    font-size: 13px;
}
.submitInput:hover {
    border-top-color: #d4641e;
    background: #d4641e;
    color: #cccccc;
}
.submitInput:active {
    border-top-color: #5c1b26;
    background: #5c1b26;
}