<div class="container">
    <table class="table table-bordered">
        <h2>课程表</h2>
        <button type="button" ng-click="showAddCourseForm()">增加新课程</button>

        <div class="text-center" ng-hide="hideAddForm">
            <input class="form-control form-group" placeholder="请输入课程名称" ng-model="newCourseName">
            <select  ng-model="coachUser" class="form-control"
                    ng-options="coachUser.employee.name for coachUser in coachUsers">
            </select>
            <input type="submit" class="btn btn-success btn-sm" value="添加" ng-click="addCourse(newCourseName,coachUser.employee.id)">
            <input type="submit" class="btn btn-info btn-sm" value="取消" ng-click="cancelAddCourse()">
        </div>

        <div class="text-center" ng-hide="hideUpdateForm">
            <input class="form-control form-group"  ng-model="newUpdateCourse">
            <select  ng-model="coachUser" class="form-control"
                    ng-options="coachUser.employee.name for coachUser in coachUsers">
            </select>
            <input type="submit" class="btn btn-success btn-sm" value="更新" ng-click="updateCourse(newUpdateCourseName,coachUser.employee.id)">
            <input type="submit" class="btn btn-info btn-sm" value="取消" ng-click="cancelUpdateCourse()">
        </div>

        <tr>
            <th>课名</th>
            <th>教练</th>
            <th>删除</th>
            <th>更新</th>
        </tr>
        <tr ng-repeat="course in courses">
            <td>{{course.name}}</td>
            <td>{{course.employee.name}}</td>
            <td>
                <a type="button" ng-click="deleteCourse(course.id)">删除</a>
            </td>
            <td>
                <a type="button" ng-click="showUpdateCourseForm(course.id)">更新</a>
            </td>
        </tr>
    </table>
</div>