<div class="container">

    <table class="table table-bordered">
        <caption><h2>职员信息表</h2></caption>
        <tr>
            <th>登录名</th>
            <th>姓名</th>
            <th>性别</th>
            <th>邮箱</th>
            <th>职位</th>
            <th>删除</th>
            <th>更新</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.userName}}</td>
            <td>{{user.employee.name}}</td>
            <td>{{user.employee.gender}}</td>
            <td>{{user.employee.email}}</td>
            <td>{{user.employee.position}}</td>
            <td>
                <a ng-click="deleteUser(user.id)">删除</a>
            </td>
            <td>
                <a href="#/users/update/{{user.id}}">修改</a>
            </td>
        </tr>
    </table>

    <div>
        <a href="#/users/creation">添加新用户</a>
    </div>

</div>