<h3 class="text-danger" align="center">课程时间表</h3>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table align="center" border="1" class="table table-bordered">
            <tr align="center">
                <td>名称</td>
                <td>教练</td>
                <td>时间</td>
                <td>顾客</td>
                <td>删除</td>
                <td>更新</td>
            </tr>
                <tr align="center" ng-repeat="schedule in schedules">
                    <td>{{schedule.course.name}}</td>
                    <td>{{schedule.course.employee.name}}</td>
                    <td>{{schedule.date}}</td>
                    <td>{{schedule.customer.name}}</td>
                    <td><a class="btn btn-sm btn-danger"
                        ng-click="deleteSchedule(schedule.id);">删除</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success"
                                ng-click="updateSchedule(schedule.id)">更新
                        </button>
                    </td>
                </tr>
        </table>
    </div>
</div>