<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--显示执行的SQL语句-->
        <property name="show_sql">true</property>
        <!--选择使用的方言-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--数据库驱动-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--数据库驱动-->
        <property name="connection.url">jdbc:mysql://localhost:3306/gym_management_system</property>
        <!--数据库用户密码-->
        <property name="connection.username">root</property>
        <!--显示执行的SQL语句-->
        <property name="connection.password"></property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <!--映射文件-->
        <mapping resource="user.hbm.xml"/>
        <mapping resource="employee.hbm.xml"/>
        <mapping class="com.tw.core.entity.Course"/>
        <mapping class="com.tw.core.entity.Schedule"/>
    </session-factory>
</hibernate-configuration>